@import "main";

#desktop-loaded-div {
  height: 100% !important;
  width: 100%;
}

#desktop-body {
  width: 100%;
  height: -webkit-calc(100% - 10vh);
  height:    -moz-calc(100% - 10vh);
  height:         calc(100% - 10vh);
}