$main-red: #EF5350;
$lit-red: #f96663;
$main-font: 'Open Sans', sans-serif;

html {
  height: 100%;
  width: 100%;
}

#main-body {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.nav {
  background-color: $main-red;
  width: 100%;
}

.home-img-div {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.main-header {
  z-index: 900;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
}